.wrapper {
  margin: 5% 10%;
}

.form {
  margin-top: 2.5%;
}

.form h2 {
  margin-bottom: 5%;
}

.jumbotron a {
  margin-top: 2.5%;
  margin-right: 2.5%;
}

.secret {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
